<li style="list-style-type:none;">
	{{burger_name}}

	{{#if devour}}
	<button id="change-devour" class="btn btn-dark btn-sm" data-id="{{id}}" data-newDevour="{{devour}}"><i class="fas fa-teeth-open"></i>DEVOUR!</button>
	{{else}}
	<button id="trash-burger" class="btn btn-warning btn-sm" data-id="{{this.id}}"><i class="fas fa-trash"></i>Trash</button>
	{{/if}}
</li>
<hr>